@model IEnumerable<Employee.Models.employee>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-between align-items-center bg-info mt-3">
<h4 class="mx-4 text-white">Manage Employees</h4>

<p class="mt-2 mx-3">
        <a asp-action="#" class="btn btn-success"><i class="fa fa-minus-circle" aria-hidden="true"></i>&ensp; Delete</a>
        <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i>&ensp;  Add New Employee</a>
</p>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id"><i class="fas fa-edit"></i></a> &ensp;
                    <a asp-action="Delete" asp-route-id="@item.id"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
